*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;   
}
body{
    background:black;
    color: whitesmoke;
}
navbar{
    width: 100%;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: transparent;
    position: fixed;
    top: 0%;
    z-index: 1000;
}
button{
    height: 25px;
    width: 45px;
}
.navbar ul {
    display: flex;
    gap: 55px;
    list-style: none;
}
.navbar a {
    color: white;
    text-decoration: none;
    font-size: 1rem;
    transition: 0.3s;
}
.navbar a:hover {
    color: #00f0ff;
}
.Lokesh {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 80px;
}
.Lokesh-text h1 {
    font-size: 3.5rem;
}
.Lokesh-text p {
    margin-top: 10px;
    font-size: 1.1rem;
}
.gallery-section {
    padding: 80px 60px;
}
.section-title {
    text-align: center;
    margin-bottom: 30px;
    font-size: 2.2rem;
}
.gallery-container {
    display: grid1;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
}
.side-topic{
    color: white;
    font-size: 22px;
    margin: 15px;
}
.image-row {
    display: flex;
    gap: 20px;
}

.image-card {
    overflow: hidden;
    border-radius: 12px;
}
*{
    box-sizing:border-box;
}

.fixed-back{
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
    background-image: url(drawings/IMG_3686\ copy.JPG);
    background-size: cover;
}

body,html{
    padding: 0;
    margin: 0;
}
.Lokesh{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(drawings/IMG_26.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: white;
    text-align: center;
}
h1{
    color:red;
}

.side-topic{
    margin: 20px;
}

.side-topic h2{
    color: white;
    font-size: 20px;
    font-style:normal;
    margin-bottom: 10px;
    display: block;
}
